.project-cat-color-- {
	&bridge {
		color: #79F1B7 !important;
	}

	&account_abstraction {
		color: #9F95F6 !important;
	}

	&private_computation {
		color: #55C0FF !important;
	}

	&order_flow {
		color: #FFF988 !important;
	}

	&auction {
		color: #FF6E91 !important;
	}

	&execution {
		color: #2B6AFC !important;
	}

	&liquidity {
		color: #FFC123 !important;
	}

	&data_availability {
		color: #FF7338 !important;
	}

	&intent {
		color: #D8FE7A !important;
	}

	&key_management {
		color: #6F60F1 !important;
	}

	&sequencing {
		color: #6AEE49 !important;
	}

	&finality {
		color: #FF4CAD !important;
	}

	&oracle {
		color: #1DE885 !important;
	}

	&proofs {
		color: #FF265A !important;
	}

	&uncategorized {
		color: #c5c5c5 !important;
	}
}
