.page-home {
	.main-content {
		padding-top: 0;
	}

	.section-hero {
		--s-header-width: 840px;
		--s-header-spacing: 0;
		--s-desc-width: 100%;
		--s-desc-top: 24px;
		--s-callout-top: 32px;

		padding: 210px 0 193px;

		.section-background {
			left: 18px;
			right: 18px;
			top: 135px;
			bottom: 40px;
		}

		.section-title {
			font-size: 100px;
			line-height: 1.16;
			text-shadow: 11.388px 11.388px 0 #2B6AFC;
		}

		.section-description {
			font-size: 24px;
			line-height: 1.32;
			padding: 12px;
			background-color: $color-dark-01;
			color: $color-light-01-a2;
		}

		.hero-frame-1 {
			max-width: 288px;
			height: auto;
			position: absolute;
			top: 683px;
			left: calc(50% - 1026px);;
		}

		.hero-frame-2 {
			position: absolute;
			top: 150px;
			left: calc(50% - 158px);
			max-width: 905px;
			height: auto;
		}

		.button-group {
			--gutter-x: 24px;
			--gutter-y: 24px;
		}

		.button {
			width: 100%;
			max-width: 280px;
		}
	}

	.hero-image-group {
		margin: 0 0 0 -125px;
	}
}

@include media-breakpoint-down(lg) {
	.page-home {
		.section-hero {
			padding: 150px 0 120px;

			.section-title {
				font-size: 46px;
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.page-home {
		.section-hero {
			.section-title {
				font-size: 36px;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.page-home {
		.section-hero {
			padding: 120px 0 80px;
			--s-header-width: 470px;
			--s-desc-top: 25px;

			.section-header-beside .section-header-inner {
				text-align: center;
				margin: 0 auto;

				.button-group {
					justify-content: center;
				}
			}
		}

		.hero-image-group {
			margin: 0;
			text-align: center;

			.main-image {
				width: 80vw;
				margin: 0 auto;
			}
		}
	}
}
