.page-projects {
	.main-content {
		padding-top: 0;
	}

	.section-hero {
		--s-header-width: 100%;
		--s-header-spacing: 0;
		--s-desc-width: 1108px;
		--s-desc-top: 36px;
		--s-callout-top: 50px;
		overflow: hidden;

		padding: 425px 0 173px;

		.section-background {
			left: 18px;
			right: 18px;
			top: 135px;
			bottom: 40px;
		}

		.section-title {
			font-size: 110px;
			line-height: 1.2;
			text-shadow: 11.388px 11.388px 0 #2B6AFC;
		}

		.section-description {
			font-size: 28px;
			line-height: 1.32;
			padding: 0 8px;
			background-color: $color-dark-01;
		}

		.description-highlight-1 {
			color: $color-lime-05;
		}

		.description-highlight-2 {
			color: $primary-color;
		}

		.button {
			width: 100%;
			max-width: 280px;
		}

		.hero-frame-1 {
			position: absolute;
			height: auto;
			max-width: 414px;
			top: 423px;
			left: calc(50% - 1134px);
		}

		.hero-frame-2 {
			position: absolute;
			height: auto;
			max-width: 161px;
			top: 197px;
			left: calc(50% - 819px);
		}

		.hero-frame-3 {
			position: absolute;
			max-width: 314px;
			height: auto;
			top: 805px;
			left: calc(50% - 700px);
		}

		.hero-frame-4 {
			position: absolute;
			max-width: 1109px;
			top: 187px;
			left: calc(50% - 554px);
			height: auto;
		}

		.hero-frame-5 {
			position: absolute;
			max-width: 169px;
			height: auto;
			top: 213px;
			left: calc(50% + 655px);
		}

		.hero-frame-6 {
			position: absolute;
			max-width: 324px;
			top: 660px;
			left: calc(50% + 623px);
			height: auto;
		}
	}

	.section-hero-bg {
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;

		img {
			max-width: 90vw;
		}

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			top: 0;
			background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 80%);
		}
	}

	.hero-shape-dot {
		top: 12%;
		right: 14%;
		--shape-max-width: 10vw;
		--shape-width: 194px;
	}

	.hero-shape-s-circle {
		right: 12%;
		bottom: 14%;
		--shape-max-width: 16.2vw;
	}

	.hero-shape-02 {
		right: 30%;
		top: 15%;
	}

	.hero-shape-03 {
		left: 12%;
		top: 8%;
		--shape-max-width: 11vw;
	}

	.hero-shape-ksm {
		left: 20%;
		bottom: 8%;
		--shape-max-width: 11vw;
	}

	.hero-shape-satellite {
		left: 16%;
		bottom: 35%;
		--shape-max-width: 11vw;
	}
}

@include media-breakpoint-down(lg) {
	.page-projects {
		.section-hero {
			padding: 150px 0 120px;

			.section-title {
				font-size: 46px;
				text-shadow: 4px 4px 0 $primary-color;
			}

			.section-description {
				font-size: 24px;
			}

			.hero-frame-4 {
				max-width: 800px;
				top: 80px;
				left: calc(50% - 400px);
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.page-projects {
		.section-hero {
			--s-callout-top: 20px;
			padding: 120px 0 80px;

			.section-title {
				font-size: 36px;
			}

			.hero-frame-4 {
				max-width: 600px;
				top: 80px;
				left: calc(50% - 300px);
			}
		}
	}
}
