.project-cat-color--account_abstraction {
	color: #9F95F6 !important;
}

.project-cat-color--private_computation {
	color: #55C0FF !important;
}

.project-cat-color--order_flow {
	color: #FFF988 !important;
}

.project-cat-color--auction {
	color: #FF6E91 !important;
}

.project-cat-color--execution {
	color: #2B6AFC !important;
}

.project-cat-color--liquidity {
	color: #FFC123 !important;
}

.project-cat-color--data_availability {
	color: #FF7338 !important;
}

.project-cat-color--intent {
	color: #D8FE7A !important;
}

.project-cat-color--key_management {
	color: #6F60F1 !important;
}

.project-cat-color--sequencing {
	color: #6AEE49 !important;
}

.project-cat-color--finality {
	color: #FF4CAD !important;
}

.project-cat-color--oracle {
	color: #1DE885 !important;
}

.project-cat-color--proofs {
	color: #FF265A !important;
}

.project-cat-color--uncategorized {
	color: #c5c5c5 !important;
}

